<div>
  <h1 style="text-align: center">GUÍA PARA LA ENTREVISTA</h1>
  <p style="text-align: center">(La Hoja de Vida del postulante y la Propuesta del Plan Global deben estar a la mano)</p>
</div>

<div>
  <h3>POSTULANTE:</h3>
  <input type="text" required />
  <h3>Fecha:</h3>
  <input type="date" required />
  <h3>Agisnatura a la que postula:</h3>
  <input type="text" required />
</div>

<div>
  <p style="text-align: center">Hacer una breve introducción a la entrevista e indicar al postulante el tiempo
    aproximado que llevará la misma (20 minutos aproximadamente).
    Formular preguntas sobre los siguientes temas</p>
</div>

<div>
  <div>
    <h4>0. Motivaciones que lo han llevado a postular a la asignatura.</h4>
    <div>
      <!-- <textarea [(ngModel)]="observations[0]" required></textarea>
      <p>{{observations[0]}}</p> -->
    </div>
  </div>

  <div>
    <h4>1. Lo más destacable de su experiencia profesional relacionado con la asignatura a la que ha postulado.</h4>
    <div>
      <textarea required></textarea>
    </div>
  </div>

  <div>
    <h4>2. Aspectos instrumentales o conceptuales de la asignatura que más han evolucionado en los últimos años.</h4>
    <div>
      <textarea required></textarea>
    </div>
  </div>

  <div>
    <h4>3. Competencias que desarrollarán sus estudiantes al finalizar la carrera.</h4>
    <div>
      <textarea required></textarea>
    </div>
  </div>

  <div>
    <h4>4. Métodos de enseñanza que utilizará para desarrollar las competencias que señaló.</h4>
    <div>
      <textarea required></textarea>
    </div>
  </div>

  <div>
    <h4>5. Modalidades que utilizará para evaluar lo que los estudiantes hayan aprendido.</h4>
    <div>
      <textarea required></textarea>
    </div>
  </div>

  <div>
    <h4>6. Acciones que desarrollará para que la relación con los estudiantes se desenvuelva en un clima de
      cordialidad.</h4>
    <div>
      <textarea required></textarea>
    </div>
  </div>

  <div>
    <h4>7. Idoneidad, calidad humana y liderazgo (plantear un problema ético/profesional y pedir su criterio)</h4>
    <div>
      <textarea required></textarea>
    </div>
  </div>

  <div>
    <h4>8. Gestión para la transversalización de la pastoral en aula.</h4>
    <div>
      <textarea required></textarea>
    </div>
  </div>

  <div>
    <h4>9. Identidad católica (grado de compromiso con los principios de la iglesia católica).</h4>
    <div>
      <textarea required></textarea>
    </div>
  </div>

  <div>
    <h4>10. Contribución adicional a la UCB, al margen de la docencia.</h4>
    <div>
      <textarea required></textarea>
    </div>
  </div>

  <div>
    <h4>11. Disposición para asistir a eventos de formación continua en temas inherentes a la función docente.</h4>
    <div>
      <textarea required></textarea>
    </div>
  </div>

  <div>
    {{generalTotal}}
  </div>
</div>