<div>
    <h1 style="text-align: center">TABLA DE CALIFICACIÓN CURRICULAR</h1>
</div>
<div>
    <div>
        <h4>1. FORMACIÓN PROFESIONAL (Sobre 8 puntos)</h4>
        <div>
            <label>Doctorado</label>
            <input type="number" min="6" max="8" required>
            <label>6-8 puntos</label>
        </div>
        <div>
            <label>Maestria</label>
            <input type="number"min="3" max="5" required>
            <label>3-5 puntos</label>
        </div>
        <div>
            <label>Especialización</label>
            <input type="number"min="2" max="3" required>
            <label>2-3 puntos</label>
        </div>
        <div>
            <label>Diplomado</label>
            <input type="number"min="1" max="2" required>
            <label>1-2 puntos</label>
        </div>
        <div>
            <label>Sub total</label>
            <p>{{subtotal1}}</p>
        </div>
        <p>Nota 1: El titulo de licenciatura y el diploma en educación superior son indispensables</p>
        <p>Nota 2: El puntaje no es acumulativo. Se debe considerar la formación con mayor calificacion</p>
        <p>
            <strong>
                El rango de variación en el puntaje tiene el objeto de permitir la consideración de la 
                calidad de la universidad que otorga el título y la pertinencia del postgrado respecto a 
                la asignatura
            </strong>
        </p>
    </div>
    <div>
        <h4>2. EXPERIENCIA ACADÉMICA Y PROFESIONAL (sobre 6 puntos)</h4>
        <h5>2.1 Experiencia académica (docencia) (sobre 4 puntos)</h5>
        <div>
            <label>En la asignatura de postulación</label>
            <input type="number" min="0" max="1" required>
            <label>1 punto por año en la UCB</label>
        </div>
        <div>
            <input type="number" min="6" max="8" required>
            <label>0.8 puntos por año en otra universidad</label>
        </div>
        <div>
            <label>En otras asignaturas relacionadas a la que postula</label>
            <input type="number" min="6" max="8" required>
            <label>0.4 punto por año en la UCB</label>
        </div>
        <div>
            <input type="number" min="6" max="8" required>
            <label>0.2 puntos por año en otra universidad</label>
        </div>
        <div>
            <label>En asignaturas no relacionadas</label>
            <input type="number" min="6" max="8" required>
            <label>0.2 punto por año en la UCB</label>
        </div>
        <div>
            <input type="number" min="6" max="8" required>
            <label>0.1 puntos por año en otra universidad</label>
        </div>
        <div>
            <label>Sub total</label>
            <p>{{subtotal21}}</p>
        </div>
        <h5>2.2. Experiencia profesional (sobre 2 puntos)</h5>
        <div>
            <label>Cantidad de años</label>
            <input type="number" required>
        </div>
        <div>
            <label>Sub total</label>
            <p>{{subtotal22}}</p>
        </div>
    </div>
    <div>
        <h4>3. PRODUCCIÓN INTELECTUAL (Sobre 8 puntos)</h4>
        <div>
            <label>Libros sobre la área de postulación</label>
            <input type="number" min="6" max="8" required>
            <label>2-3 puntos por libro</label>
        </div>
        <div>
            <label>Artículos arbitrarios</label>
            <input type="number" min="3" max="5" required>
            <label>3 puntos por artículo</label>
        </div>
        <div>
            <label>Libros sobre temas afines a la asignatura</label>
            <input type="number" min="2" max="3" required>
            <label>1-2 puntos por libro</label>
        </div>
        <div>
            <label>Libros sobre temas no relacionados</label>
            <input type="number" min="1" max="2" required>
            <label>0.5 puntos por libro</label>
        </div>
        <div>
            <label>Apuntes, artículos-ensayos y otras publicaciones</label>
            <input type="number" min="1" max="2" required>
            <label>0.2 puntos por publicación</label>
        </div>
        <div>
            <label>Consultorías/investigación relacionadas</label>
            <input type="number" min="1" max="2" required>
            <label>0.4 puntos por consultoría</label>
        </div>
        <div>
            <label>Consultorías/investigación no relacionadas</label>
            <input type="number" min="1" max="2" required>
            <label>0.2 puntos por consultoría</label>
        </div>
        <div>
            <label>Sub total</label>
            <p>{{subtotal3}}</p>
        </div>
    </div>
    <div>
        <h4>4. CONDUCCIÓN DE CURSOS Y SEMINARIOS COMO EXPOSITOR (sobre 4 puntos)</h4>
        <div>
            <label>Nacionales</label>
            <input type="number" min="6" max="8" required>
            <label>0.5 puntos por evento</label>
        </div>
        <div>
            <label>Internacionales</label>
            <input type="number" min="3" max="5" required>
            <label>1 punto por evento</label>
        </div>
        <div>
            <label>Sub total</label>
            <p>{{subtotal4}}</p>
        </div>
    </div>
    <div>
        <h4>5. PREMIOS Y DISTINCIONES (sobre 4 puntos)</h4>
        <div>
            <label>De significado internacional</label>
            <input type="number" min="6" max="8" required>
            <label>2 puntos por distinción</label>
        </div>
        <div>
            <label>De significado nacional</label>
            <input type="number" min="3" max="5" required>
            <label>1 punto por distinción</label>
        </div>
        <div>
            <label>De significado institucional</label>
            <input type="number" min="3" max="5" required>
            <label>0.5 puntos por distinción</label>
        </div>
        <div>
            <label>Sub total</label>
            <p>{{subtotal5}}</p>
        </div>
    </div>
    <div>
        {{generalTotal}}
    </div>
</div>